
@{
    ViewBag.Title = "Overview";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" alt="pic" />
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-link btn-md" role="button" href="#" onclick="$('#calendar').fullCalendar('prev');"><span class="fa fa-chevron-left fa-3x"></span></a>
                <a class="btn btn-link btn-md" role="button" href="#" onclick="$('#calendar').fullCalendar('today');">vandaag</a>
                <a class="btn btn-link btn-md" role="button" href="#" onclick="$('#calendar').fullCalendar('next');"><span class="fa fa-chevron-right fa-3x"></span></a>
                
                <a class="pull-right btn btn-link btn-md" role="button" href="#" onclick="$('#calendar').fullCalendar('changeView','month');"><span class="fa fa-search-minus fa-3x"></span><br></a>
                <a class="pull-right btn btn-link btn-md" role="button" href="#" onclick="$('#calendar').fullCalendar('changeView','agendaWeek');"><span class="fa fa-search-plus fa-3x"></span><br></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
    
    </div>
    <div class="col-lg-9 col-md-12">
        <div id="calendar"></div>
    </div>
</div>
