@model De_Tutjes.Areas.Administration.Models.CreateMedicalInformation

@using (Ajax.BeginForm("CreateMedicalInformation", null, new AjaxOptions { UpdateTargetId = "medicalList", OnSuccess = "submitMedicalInformationForm()" }, new { id = "AddMedicalInformationForm" }))
{

    @Html.AntiForgeryToken();



    <div class="modal fade" id="addMedicalInformationModal" tabindex="-1" role="dialog" aria-labelledby="addMedicalInformationLabel" aria-hidden="true">
        @{
            int toddlerId = 0;
            if (HttpContext.Current.Session["NewChildWizardSession"] != null)
            {
                toddlerId = int.Parse(HttpContext.Current.Session["NewChildWizardSession"].ToString());
            }
        }
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMedicalInformationLabel">
                        MedicalInformation @HttpContext.Current.Session["NewChildWizardSession"] toevoegen
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </h5>
                </div>

                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveAgreedDays">Save</button>
                </div>
            </div>
        </div>
    </div>
            }


<div class="tab-pane" id="d">
    <div id="medicalList">
        @Html.Partial("_ListMedicalInfo", Model.medicalInfo)
    </div>
</div>