@model IEnumerable<De_Tutjes.Models.Toddler>
@{
    int models = Model.Count();
    string completed = "fa-square-o";
    if (models == 1) { completed = "fa-check-square-o"; }
    int toddlerId = 0;
    if (HttpContext.Current.Session["ToddlerId"] != null)
    {
        toddlerId = int.Parse(HttpContext.Current.Session["ToddlerId"].ToString());
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa @completed"></i> Kind</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12">

                    <div class="panel-group" id="accordion">
                        @{
                            foreach (var toddler in Model)
                            {
                                //if (toddler.RelationLinks.Where(i => i.ToddlerId == toddlerId).ToList().Count() != 0)
                                //{
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#@Html.DisplayFor(model => toddler.ToddlerId)">@Html.DisplayFor(model => toddler.Person.FirstName)</a></h4>
                                    </div>
                                    <div id="@Html.DisplayFor(model => toddler.ToddlerId)" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <fieldset>
                                                <legend>Personal</legend>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Firstname</label>
                                                    <div class="col-sm-10">
                                                        @Html.DisplayFor(model => toddler.Person.FirstName)
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                   // }
                                }
                            }
                    </div>

                </div>

            </div>
            <div class="row">
                @{

                    string disabledNext = "disabled";
                    string disabledCreate = "";
                    //if (toddlerId == 0) { }
                    //else
                    //{
                        if (Model.Count() > 0)
                        {
                            disabledNext = "";
                        }
                        else
                        {
                            disabledNext = "disabled";
                        }
                        if (Model.Count() == 1)
                        {
                            disabledCreate = "disabled";
                        }
                        else
                        {
                            disabledCreate = "";
                        }
                    //}
                }
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block btn-sm" role="button" href="#" data-toggle="modal" data-target="#addToddlerModal" id="openToddlerForm" @disabledCreate><i class="fa fa-user-plus"></i> Kind toevoegen</a>
                </div>

                <div class="col-md-3">
                    <a class="btn btn-success btn-block btn-sm" role="button" href="#b" data-toggle="tab" id="step2" @disabledNext>Volgende</a>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
}

