<script>
    function submitToddlerForm() {
        $(function () {
            $('#addToddlerModal').modal('hide');

            var addToddlerModal = $("#addToddlerModal").html();
            $("#addToddlerModal").html(addToddlerModal);

            var addParentModal = $("#addParentModal").html();
            $("#addParentModal").html(addParentModal);
        });
    }

    function submitParentForm() {
        $(function () {
            $('#addParentModal').modal('hide');
        });
    }

    $(function () {
        $('#addParentModal').on('hidden.bs.modal', function () {
            $(this).find("input,textarea,select").val('').end();
        });

        $('#addToddlerModal').on('hidden.bs.modal', function () {
            $(this).find("input,textarea,select").val('').end();
        });
    });

    $(function () {
        $('#step1').click(function (e) { e.preventDefault(); $('#steps a[href="#a"]').tab('show'); });
        $('#step2').click(function (e) { e.preventDefault(); $('#steps a[href="#b"]').tab('show'); });
        $('#step3').click(function (e) { e.preventDefault(); $('#steps a[href="#c"]').tab('show'); });
        $('#step4').click(function (e) { e.preventDefault(); $('#steps a[href="#d"]').tab('show'); });
        $('#step5').click(function (e) { e.preventDefault(); $('#steps a[href="#e"]').tab('show'); });
        $('#step6').click(function (e) { e.preventDefault(); $('#steps a[href="#f"]').tab('show'); });
    })

</script>
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" />
        <a class="btn btn-link btn-xs center-block" role="button" href="#">Klik hier om een foto toe te voegen</a>
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <h3 class="text-center">Nieuw kindje inschrijven</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">0%</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="tabbable tabs-left">
            <ul class="nav nav-pills nav-stacked col-md-3" id="steps">
                <li class="active">
                    <a href="#a" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 1<br /><h6>Kind</h6>
                    </a>
                </li>
                <li>
                    <a href="#b" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 2<br /><h6>Ouders</h6>
                    </a>
                </li>
                <li>
                    <a href="#c" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 3<br /><h6>Opvangdagen</h6>
                    </a>
                </li>
                <li>
                    <a href="#d" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 4<br /><h6>Medische gegevens</h6>
                    </a>
                </li>
                <li>
                    <a href="#e" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 5<br /><h6>Voeding en slapen</h6>
                    </a>
                </li>
                <li>
                    <a href="#f" disabled>
                        <span class="fa fa-square-o fa-1x pull-right"></span>Stap 6<br /><h6>Opmerkingen dagverloop</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content col-md-9" id="contentRefresh">

                    @Html.Action("_AddToddler", "Children")

                    @Html.Action("_AddParents", "Children")

                <div class="tab-pane" id="c">
                    Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae.
                </div>
                <div class="tab-pane" id="d">
                    quattro
                </div>
                <div class="tab-pane" id="e">
                    quinto
                </div>
            </div>
        </div>
</div>
