@model De_Tutjes.Areas.Administration.Models.ToddlersOverview
@{
    ViewBag.Title = "Overview";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/185x185" alt="pic" />
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-link btn-md" role="button" href="/Administration/Children/Create"><span class="fa fa-plus fa-3x"></span><br>Kind toevoegen</a>
                <a class="pull-right btn btn-link btn-md" role="button" href="#"><span class="fa fa-remove fa-3x"></span><br>Verwijderen</a>
                <a class="pull-right btn btn-link btn-md" role="button" href="#"><span class="fa fa-pencil fa-3x"></span><br>Bewerken</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div id="ShowToddler">
            @Html.Partial("_OverviewShowToddler", Model.toddler)
        </div>
    </div>
    <div class="col-lg-9 col-md-12">

@using (Ajax.BeginForm("ShowToddler", null, new AjaxOptions { UpdateTargetId = "ShowToddler", OnSuccess = "" }, new { id = "ShowToddlerList" }))
{
        foreach (var toddler in Model.toddlerList)
        {
            int col = 6;
            int i = 1;
            // btn-link
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-primary btn-lg" role="button" href="#">
                    <img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>
                    @toddler.Person.FirstName
                </a>
            </div>
                    
        }
}
    </div>
</div>