
@{
    ViewBag.Title = "Overview";
}

<div class="row">
    <div class="col-lg-3 col-md-3">
        <img class="center-block" src="http://placehold.it/170x170" />
    </div>
    <div class="col-lg-9 col-md-9">

        @Html.Partial("_MenuPartial")

        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-link btn-md" role="button" href="/Administration/Children/Create"><span class="fa fa-plus fa-3x"></span><br>Kind toevoegen</a>
                <a class="pull-right btn btn-link btn-md" role="button" href="#"><span class="fa fa-remove fa-3x"></span><br>Verwijderen</a>
                <a class="pull-right btn btn-link btn-md" role="button" href="#"><span class="fa fa-pencil fa-3x"></span><br>Bewerken</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                    <h4 class="panel-title">
                            Kind Naam
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        Eten
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                        Slaap
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                        Medisch
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                        Bezoekdagen
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-primary btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="btn btn-link btn-lg" role="button" href="#"><img src="http://placehold.it/100x100" width="100" class="img-rounded" height="100" /><br>Kind</a>
            </div>
        </div>
    </div>
</div>