<form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-square-o"></i> Kind </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>Voornaam </label>
                            </td>
                            <td>
                                <input id="Text1" type="text" />
                            </td>
                            <td>
                                <label>Geslacht </label>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Achternaam </label>
                            </td>
                            <td>
                                <input id="Text1" type="text" />
                            </td>
                            <td>
                                <label>Geboortedatum </label>
                            </td>
                            <td>
                                <input class="form-control" type="date" id="datepicker" name="datepicker"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-square-o"></i> Ouders </h3>
        </div>
        <div class="panel-body">
            <h3>Vader </h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Personalia </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Voornaam </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Achternaam </td>
                            <td>Geboortedatum </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Contactgegevens </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Vaste telefoon</td>
                            <td>Mobiele telefoon</td>
                        </tr>
                        <tr>
                            <td>E-mailadres </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>